/* Globle Settings */
html {
    height: 100%;
}

body {
    background-color: #bac1be;
    min-height: 100%;
    display: grid;
    grid-template-rows: 45px auto 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #393539;
}

/* Navigation bar */
nav {
    background-color: #5a5c67;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #bac1be;
    color: #393539;
}

nav a.current {
    background-color: #9e6e83;
    color: #f2f2f2;
}

/* Gallery */
.gallery {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-gap: 10px;
    margin-top: 44px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-rows: 500px;
}

@media screen and (min-width:778px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .wide {
        grid-column: 1/span 2;
    }

}

@media screen and (min-width:900px) {

    /* REQUIREMENTS:
    Change the grid to
        - four equal columns.
        - first five rows are 375px, last one is 250px;
    */
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .wide {
        grid-column: span 2;
    }
}

/* Figure */
.gallery figure {
    position: relative;
    justify-content: center;
    align-self: center;
}

.gallery figure img {
    display: block;
    width: 100%;
    border: 2px solid;
    box-shadow: 6px 4px 8px;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 100%;
    height: 60px;
    justify-self: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 16px;
}

.gallery figure:hover .overlay {
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
}

.thin {
    max-width: 300px;
}

.wide {
    max-width: 700px;
}

/* Main content */
main {
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    line-height: 1.5;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
}

/* Headline */
#greet {
    background-image: url("../images/background.jpg");
    background-color: #bac1be;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#greet h1 {
    text-align: center;
    padding: 35px 0;
    position: sticky;
    top: 140px;
}

/* content */
.content {
    display: flex;
    padding: 80px 0px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.content p {
    display: inline-block;
    max-width: 500px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 100%;
    text-align: center;
}

.card .title {
    color: #393539;
    font-size: 18px;
}

.avatar {
    width: 100%;
}

.contact {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #5a5c67;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.card a {
    color: white;
    display: block;
}

.card a:hover {
    opacity: 0.7;
}

/* Footer */
footer {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 45px;
    width: 100%;
    color: #fff;
    background-color: black;
}